.logout_container{
         position: absolute;


         .logout{
                width: 70px;
                height: 30px;
                background-color: #06020ec7;
                color: white;
                border-radius: 0.3rem;
                margin-top: 1rem;
                cursor: pointer;
                outline: none;
                border: none;
            


         }
}