@import '/src/Components/Variables/variables';
@import '/src/Components/Mixins/mixins';



.add_book_container{
    @include justifyAndAliginAndDirection(center,center,column);
    width: 100%;
    .heading_book{
     padding-top: 2.5rem;
     font-size: 2rem;
     font-weight: bold;
     color: #2E313A;

    }
  

}
#frm{
    max-width: 1253px;
    width: 80%;
   
    
    .inputs-container{
        display: flex;
        width: 100%;
   
    .MuiFormControl-root{
        
        margin: 0.5rem;
        
    }
    .inputs{
       width: 50%;
    }

    .description{
        min-width: 100%;
   
    }   
    .input_cent{
        width: 33%;
         
    }
        
    }
    .cover{
        margin-right: 10rem;
        width: 100%;
    }
  #canvas{
      color: red;
  }
    
}