.comment-field{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .comment-input{
        width: 100%;
        resize: none;
        padding: 7px;
        font-weight: 500;
        outline: none;
    }
    button{
        color: #fff !important;
        padding: 0.5rem 1rem !important;
        font-weight: 700;
        border-radius: 2px;
    }
}