@mixin justifyAndAlign($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin justifyAndAliginAndDirection($justify,$align,$direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin linkDecorationNone($color) {
    text-decoration: none;
    color: $color;
}