@import '../Variables/variables';

.header_container{
    padding: 15px;
    width: 100%;
    background-color: $violet;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        font-family: $logo;
        color: white;
        font-weight: 300;
        font-size: 30px;

        strong{
            font-weight: 600;
        }
    }

    .search_container{
        width: 50%;
        height: 40px;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: space-between;

        button{
            outline: none;
            border: none;
            background-color: $violet;
            color: white;
            height: 35px;
            margin: 2.5px;
            font-family: $raleway;
            font-size: 18px;
            border-radius: 5px;
            padding: 0 8px 0;
            display: flex;
            align-items:center;

            .MuiSvgIcon-root{
                margin: 0 0 0 3px;
                color: white;
            }
        }

        input{
            width: 100%;
            outline: none;
            border: 0;
            margin: 0 15px 0;
            &:focus{
                outline: none;
                border: 0;
            }
        }

        .MuiSvgIcon-root{
            height: 100%;
            width: 32px;
            color: black;
        }
    }

    .MuiSvgIcon-root{
        color: white;
        width: 30px;
        height: 50%;
    }
}




@media screen and (max-width:500px) {
    .header_container{
        justify-content: center;
    
        h1{
            font-size: 18px;
        }
    
        .search_container{
            display: none;
        }
    
        .MuiSvgIcon-root{
            display: none;
        }
    }    
}