@import '../Variables/variables';
.bookCard {
	width: 17rem;
	height: 27.3rem;
	margin: 1rem;
	display: inline-block;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: rgba(59, 59, 59, 0.424);
    &:hover{
        transform: scale(1.03);
    }
}
@media only screen and (max-width: 768px){
    .bookCard{
        width: 13rem;
        height: 20.3rem;
    }
}
@media only screen and (max-width:420px){
    .bookCard{
        width: 10rem;
        height: 15.3rem;
    }
}